body{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-align: center;
    background-color: rgb(238, 238, 238);
}
.calculadora{
    border-radius:8px;
    width: 90%;
    height:900px;
    left:5%;
    top:15px;
    position: relative;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 13px 2px rgb(214, 214, 214);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color:rgba(255, 255, 255, 0.74);
}

.cabecera{
    margin:5px;
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 0px 20px .1px rgba(214, 214, 214, 0.281);
    border: 1px solid #ddd;
    border-radius:5px;
    font-size: .5em;
    height: 300px;
}
.titulo{
    font-size: 2em;
}

.cuerpo{
    margin:5px;
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.pantalla{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    margin:2px;
}
#pantallaDatos{
    width: 99%;
    height: 90%;
}
input{
    background-color:transparent;
    border: none;
    color: black;
    font-size:4.5rem;
    text-align: right;
    outline: none;
}

.teclado, .operadores{
    grid-row-start: 2;
    grid-row-end: 5;
}
.teclado{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.boton{
    border-radius:5px;
    border: 1px solid #ddd;
    margin: 2px;
    box-shadow: 0px 0px 20px .1px rgba(214, 214, 214, 0.281);
    background-color: rgba(255, 255, 255, 0.767);
}
.boton:hover{
    background-color: rgba(245, 245, 245, 0.767);
}
button{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}
.boton p{
    margin: 0;
    padding: 0;
    margin-top: 10%;
}

.operadores{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#exponente{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
#fibonacci{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 1em;
}
#igual{
    color: rgb(255, 255, 255);
    background-color: rgba(50, 35, 255, 0.849);
    grid-column-start: 2;
    grid-column-end: 3;
}
#igual:hover{
    background-color: rgba(45, 32, 221, 0.849);
}
#eliminar{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: rgb(255, 255, 255);
    background-color: rgba(238, 53, 53, 0.849);
}
#eliminar:hover{
    background-color: rgba(209, 48, 48, 0.849);
}
#cero{
    grid-column-start: 2;
    grid-column-end: 4;
}

@media only screen and (max-width: 950px) {
    .cabecera{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 300px;
    }
    .datos{
        visibility: hidden;
    }
    #fibonacci{
        font-size: .7em;
    }
}

@media only screen and (max-width: 700px) {
    .cabecera{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 300px;
    }

    .logo{
        visibility: hidden;
    }

    .titulo{
        grid-row-start: 1;
    }
}